body.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  margin-top: 2.2rem;
}

.header {
  border: var(--border-thickness) solid var(--text-color);
  margin-bottom: 0;
}

.header .title {
  text-align: center;
  font-size: 1.6rem;
  margin: 1rem auto 0;
  text-transform: lowercase;
}

.header nav {
  margin-top: 0.4rem;
}

.header nav ul {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
}

nav li {
  padding: calc((var(--line-height) / 2))
    calc(1ch - var(--border-thickness) / 2)
    calc((var(--line-height) / 2) - (var(--border-thickness)));
}

.main {
  display: block;
  position: relative;
  margin-top: 0;
}

.footer {
  margin-top: auto;
}

/* START RESUME PAGE */

button.download-resume {
  position: absolute;
  top: 2rem;
  right: 0;
}

.job {
  display: flex;
  flex-direction: column;
  border-bottom: var(--border-thickness) dotted var(--text-color);
  padding-bottom: 0.4rem;
}

.job div {
  margin: 0;
}

.job h2 {
  margin: 0.6rem 0;
  padding: 0;
  font-size: 1.3em;
}

.job h3 {
  margin: 0 0 0.6rem;
}

.job-company {
  font-size: 1.2em;
}
.job-date {
  font-size: 0.9em;
}
.job h4 {
  margin: 0 0 0.3em;
}
.job-details li {
  padding-bottom: 0.3em;
}

/* END RESUME PAGE */
